*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

   body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      padding: 40px;
      max-width: 600px;
      margin: auto;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    section {
      margin-top: 20px;
    }

    details {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 10px 15px;
      transition:all 1s ease-in-out;
    }

    summary {
      font-weight: bold;
      cursor: pointer;
      position: relative;
    }
    
   summary::marker {
  content: none;
}

    details[open] summary::after {
      content: "▲";
      position: absolute;
      right: 0;
    }

    summary::after {
      content: "▼";
      position: absolute;
      right: 0;
    }

    details p {
      margin: 10px 0 0;
      padding-left: 5px;
      color: #555;
    }
